In [155]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [156]:
url = 'https://www.olx.co.id/items/q-samsung'

In [157]:
res = requests.get(url)
res.raise_for_status()

In [158]:
soup = BeautifulSoup(res.text, 'html.parser')

In [159]:
containers = soup.findAll('li', {'class':'EIR5N'})

In [160]:
harga = containers[0].findAll('span', {'class':'_89yzn'})[0].getText()
harga = harga.replace('.','').replace('Rp', '').strip()
harga

'12000000'

In [161]:
nama = containers[0].findAll('span', {'class':'_2tW1I'})[0].getText().title()

In [162]:
list_harga = []
list_nama = []

for items in containers:
    harga = items.findAll('span', {'class':'_89yzn'})[0].getText()
    harga = harga.replace('.','').replace('Rp', '').strip()
    list_harga.append(harga)
    nama = items.findAll('span', {'class':'_2tW1I'})[0].getText().title()
    list_nama.append(nama)

In [163]:
mydata = pd.DataFrame(
    data={'Nama Barang':list_nama, 'Harga':list_harga}
)

In [164]:
mydata

                                          Nama Barang     Harga
0   Specialist Beli Hp Iphone 11 Pro Max Xs Samsun...  12000000
1   Beli Cpt Harga Tinggi Iphone 11 Pro Max Samsun...  16550000
2             Hp Baru Samsung Lipat Gt-C3592 Dual Sim    350000
3   Samsung Note 10 Plus 512Gb Aura Glow Super Mul...  12600000
4                                     Samsung A3 2016    250000
5   Samsung Tab A8 Pen 8Inci Grey 4G Ram2/16Gb Apa...   1200000
6                  Samsung Galaxy M11 3/32Gb  # Promo   2049000
7   Baterai Samsung Original Ace 3/Samsung V Termurah     80000
8          Baterai Samsung Original Mega 6.3 Termurah     90000
9                                Samsung A8 2018 Gold   2600000
10     Baterai Samsung Original J1 2016/J120 Termurah     80000
11                Samsung Galaxy A51 6/128Gb  # Promo   4499000
12             Samsung E5 Minus Layar Lcd Harus Ganti    275000
13          Baterai Samsung Original J1 Mini Termurah     80000
14             Hardcase Spigen Samsung Galaxy S8 Plus     40000
15                          Hp Samsung A30S  Ram 4/64   2300000
16  Gamers A6 Laptop Samsung Type Np355V4X Amd A6-...   2000000
17        Samsung A01 Ram 2/16Gb Hanny Cell Palembang   1470000
18  Ipad Mini 1 16 Gb Bundling Dengan Samsung Tab ...   1199000
19                                 Samsung Galaxy A51   4450000